@import settings
@import foundation

//custom variables
$secondary-color: yellow
$orange: #f2824c 
$navy: #0d5397
$blue-gray: #3b475a
$gray-light: #f4f4f4
$white: #ffffff
$gray-text: #333333
$alternate-gothic: "alternate-gothic-no-3-d"
$franklin: "franklin-gothic-urw"

//override foundation settings
$body-font-color: $gray-text
$form-label-font-size: rem-calc(20)
$h1-font-size: rem-calc(44)
$h2-font-size: rem-calc(37)
$h3-font-size: rem-calc(27)
$h4-font-size: rem-calc(26)
$h5-font-size: rem-calc(18)
$h6-font-size: 1rem
    
$header-line-height: 1.4




    
.custom-panel-2
    background-color: $secondary-color
    
.bg-video
    background-image: url(http://placehold.it/2000x400&amp;text=Slide%20Image)
        
.navy
    color: $navy
    
h2
    font-family: $franklin
    
h3 
    font-family: $alternate-gothic
    text-transform: uppercase
    
.section-start
    padding: 40px 0 40px 0
    

.footer-end
    padding-bottom: 300px
    
.gray-section
    background-color: $gray-light
    
.navy-section
    background-color: $blue-gray
    
.reverse-gothic
    color: $white
    font-family: $alternate-gothic
    text-transform: uppercase
        
label
    font-size: $form-label-font-size
    
.gothic
    color: $gray-text
    font-family: $alternate-gothic
    text-transform: uppercase
    
.reverse
    color: $white
    font-family: $franklin
    
    h4
        font-size: $h4-font-size
        color: $white
        font-family: $franklin
        line-height: $header-line-height
        font-style: italic
    
    
        
        

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
