.navy
  color: $navy
  
.section-end
  margin-bottom: $pad-3

.footer-end
  padding-bottom: $pad-4
  
.gray-section
  background: $gray-light
  padding-top: $pad-3
  padding-bottom: $pad-3
    
.white-section
  background: $white
  padding: 1.25rem
  padding-top: $pad-3
  padding-bottom: $pad-3
  
.navy-section
  background-color: $blue-gray
  padding: 1.25rem
  padding-top: $pad-3
  padding-bottom: $pad-3

.gothic
  color: $gray-text
  font-family: $alternate-gothic
  text-transform: uppercase
  padding-top: $pad-1
  padding-bottom: $pad-1
  letter-spacing: 1px

  
.reverse 
  color: $white
  font-family: $franklin
  
  h5 
  color: $white
  
strong
  color: $navy
  
.breadcrumbs
  display: none

.blue-gray
  color: $blue-gray


//main navigation  and top bar ************************ 

.contain-to-grid
  background-color: $topbar-bg-color

.top-bar
  background-color: $topbar-bg-color
  
  a
    background-color: $topbar-bg-color
  
#main-nav
  background-color: $topbar-bg-color
  padding: 0
  margin: 0
  height: 60px
   
  a
    background-color: $topbar-bg-color
    font-family: $alternate-gothic
    font-size: $h5-font-size
    text-transform: uppercase
    padding-left: 23px
    padding-right: 23px
    padding-top: 10px
    letter-spacing: 1px
   
   
.top-bar-section 
  a
    &:hover
      background-color: $topbar-bg-color

#main-nav 
  a
    &:hover
      background-color: $gray-light
      border-bottom-style: solid
      border-bottom-color: $orange
      border-bottom-width: 5px
      margin-bottom: -15px
      color: $topbar-bg-color
      
  li.active a 
    background-color: $gray-light
    border-bottom-style: solid
    border-bottom-color: $orange
    border-bottom-width: 5px
    margin-bottom: -15px
    color: $topbar-bg-color  
      
  li.name 
    a
      background-color: transparent
      border-bottom-style: none
      
      &:hover
        background-color: transparent
        border-bottom-style: none
        

.name
  padding-top: 10px
  padding-bottom: 10px
  
.title-area img
  a
    &:hover 
    background-color: red

      
    
//Featured Video area
.l-featured
  background-color: $gray-light   
  
video#bgvid
  min-width: 100% 
  width: auto
  height: auto
  z-index: -100
  background: url(./sites/all/themes/custom/norton_scott/assets/crane.jpg) no-repeat
  background-size: cover

.bg-video h2
  font-family: $franklin
  text-transform: none
    
  
.block-bean-about-2 
  margin-top: -550px
  
  .field
    margin-top: -50px
  
  h2
    font-family: $franklin
    font-weight: 700
    font-style: italic
    padding-top: $pad-4
    font-size: $h1-font-size
    color: $white
    text-align: center
    text-transform: none
  
  h3
    color: $white
    font-weight: 400
    font-size: $h4-font-size
    padding-right: $pad-1
  
  a.button
    margin-bottom: 60px
       
.block-bean-learn-more
  margin: 0 auto 0 auto


  


//content and headlines ***********************
p
  line-height: $paragraph-line-height
  font-size: $paragraph-font-size
  color: $gray-text
  font-weight: $paragraph-font-weight

h2 
  font-family: $alternate-gothic
  text-transform: uppercase
  color: $blue-gray
  padding-bottom: $pad-2
  letter-spacing: 1px
  
h3
  font-family: $franklin
  font-weight: 300 
  font-size: $h3-font-size
  color: $navy
  padding-top: $pad-1
  
h4
  font-size: $h4-font-size
  color: $navy
  font-family: $franklin
  line-height: $header-line-height
  font-weight: 400
  line-height: 1.55em
  
  em
  padding-bottom: .5em

h5
  color: $blue-gray
  font-family: $alternate-gothic
  text-transform: uppercase
  padding-top: $pad-1
  padding-bottom: $pad-1
  letter-spacing: 1px
  

//buttons and links ***********************
.news-read-more
  color: $blue-gray
  font-family: $alternate-gothic
  text-transform: uppercase
  padding-top: $pad-1
  padding-bottom: $pad-1
  letter-spacing: 1px
  font-size: $h5-font-size
  
.button
  background-color: $orange
  font-family: $alternate-gothic
  font-size: $h5-font-size
  text-transform: uppercase
  margin-top: $margin-3
  margin-bottom: $margin-3
  letter-spacing: 1px
  
.pager-load-more a
  background-color: $orange
  font-family: $alternate-gothic
  font-size: $h5-font-size
  text-transform: uppercase
  padding: 1.0625rem 2rem 1rem 2rem
  color: $white
  letter-spacing: 1px
  
ul.pager-load-more
  margin-top: $margin-2
  margin-bottom: $margin-3
  
.pager-load-more a:hover
  background-color: $orange
  +opacity(0.9)
  
a.button:hover
  background-color: $gray-light
  color: $topbar-bg-color
  

  
  
  

  




//case studies section **********************
.field-name-post-date, .field-name-node-link a
  color: $blue-gray
  font-family: $alternate-gothic
  text-transform: uppercase
  font-size: $h5-font-size
  letter-spacing: 1px

.views-field.views-field-title
  a    
    h5  
      &:hover
        color: $navy

.field-name-node-link a
  color: $navy
  
.field-name-node-link 
  padding-top: $pad-1
  padding-bottom: $pad-2
  
.file-size
  display: none

.file 
  a
    color: $white
  
  img
    height: 30px
    margin-left: -10px
    
    
//News **********************

.view-display-id-block_1
  .group-middle
    margin-top: -.85rem
      

.block-views-news-block-1
  padding-top: 1rem
    
  .views-row-odd, .views-row-even
    margin-bottom: 6rem
    
    
  .views-row-last
    margin-bottom: 0rem
    
     

//Contact Form ***********************
.form-required
  display: none

label
  font-size: $form-label-font-size
  letter-spacing: 1px
  
.block-webform h2
  color: $white

.block-bean-contact-info
  p,
  h4
    color: $white
    line-height: .85
  
  h4
    font-weight: bold
    font-size: $h4-font-size
    margin-top: $margin-2
    line-height: 1.5em
  
.block-bean-contact-info
  margin-top: 4.25rem
  
.block-bean-client-login, .block-bean-partner-login
  margin-top: 2rem
  margin-bottom: 1rem
  margin-left: auto
  margin-right: auto

.block-bean-client-login a, .block-bean-partner-login a
  margin-top: 5px
  margin-bottom: 5px
  margin-left: -15px
  background-color: $gray-blue-dk

@mixin inline-form-label
  color: $white
  font-family: $alternate-gothic
  text-transform: uppercase
  letter-spacing: 1px
  font-size: $h5-font-size
  width: 20%


@mixin inline-form-input
  background-color: $gray-blue
  float: right
  width: 75%
  border: 0px
  margin: 0

@mixin inline-form-container
  +clearfix
  
  label
    +inline-form-label

  input.form-text, .form-textarea-wrapper
    +inline-form-input
  
textarea
  +inline-form-input


.webform-client-form.webform-client-form-5
  .webform-component
    +inline-form-container
    
.secondary.button.form-submit 
  background-color: $orange
  margin-left: 7.5rem
  margin-top: 3.5rem
  color: $white
  
  &:hover
    background-color: $white
    color: $blue-gray
    

// Modals
@mixin icomoon
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1


.reveal-modal-bg
  a.modal-icon
    position: absolute
    top: 50%
    color: $white
    +icomoon
    width: 1em
    overflow: hidden

    &#modal-prev
      left: 20px
      
      &:before
        content: "\f053"

    &#modal-next
      right: 20px
      &:before
        content: "\f054"
      
.reveal-modal
  padding-bottom: 5rem
  
  a
    font-family: $alternate-gothic
    text-transform: uppercase
    font-size: $h5-font-size
    letter-spacing: 1px
  
  h2
    text-align: center
    padding-top: 5rem
      
  p 
    padding-left: 5rem
    padding-right: 5rem
      
  .button
    margin-left: 4.8rem
    
  .file
    color: $white
    +icomoon

    &:before
      content: "\f019"
      
    
      
  
img.file-icon
  display: none
  

  

  
// Media queries
@media #{$small-only}
  .name img
    margin-left: 30px
    
  .block-bean h2
    margin-left: 10px
    
  .l-news
    margin-left: 20px
    margin-right: 40px
    padding-right: 40px
    
  div.group-content.large-12
    margin-left: 30px
    margin-right: 30px
    
  .block-bean-contact-info
    margin-left: -30px
    margin-top: -20px
    
  .small-block-grid-1
    margin-left: auto
    margin-right: auto
    
  a.button.small-4.small-centered.columns.learn-more
    padding-bottom: 0px
    margin-bottom: 0px
    margin-right: 0px
    padding-right: 0px
  
  #block-bean-about-2
    margin-top: -500px
    margin-bottom: $margin-1
    
    a.button
      margin-bottom: 0px
    
  .block-bean-about-2 h2, .block-bean-about-2 h3
    padding-top: $pad-1

  
  .block-bean-about-about h2
    margin-top: 0px
    margin-bottom: 0px
    
    
  .webform-client-form.webform-client-form-5 .webform-component input.form-text, .webform-client-form.webform-client-form-5 .webform-component .form-textarea-wrapper
    width: 100%
    
@media #{$medium-only}
  
  .name img
    margin-left: 30px
    
  .block-bean h2
    margin-left: 15px
    
  .l-news
    margin-left: 20px
    margin-right: 40px
    padding-right: 30px

  
  

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
